<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Music Header</title>
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="container">
          <img src="static/spotify-logo.png" height=100px width=100px>
        </div>
        <button><a href="/recommendations" class="back">Recommendations</a></button>
      </div>
      <div class="content" style="overflow:auto">
        <h1>My playlists!</h1>
        <ul>
          <li>
            <div class="container">
              <div class="left">
                Road-Trips!
              </div>
              <div class="right">
                <img src="https://img.huffingtonpost.com/asset/5e28d0a9240000b403c972af.jpeg?cache=Ui5chf7iyK&ops=1778_1000" width=300 height=200>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>