<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
	<title>Flask Tutorial!</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="container">
        <img src="/static/spotify-logo.png" height=100px width=100px>
      </div>
      <button><a href="/playlists" class="back">Playlists</a></button>
    </div>
    <div class="content" style="overflow:auto">
      <h1>Song recommendations</h1>
        <ul>
          <li>
            <div class="container">
              <div class="left">
                I Gotta Feeling
              </div>
              <div class="right">
                <div class="container">
                  <div class="left">
                    <p style="color:white">
                      Black Eyed Peas
                    </p>
                  </div>
                  <div class="right">
                    <img src="https://i1.sndcdn.com/artworks-RPd3QthGWrVInjRM-XZglyA-t500x500.jpg" width="200" height="200">
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>
</body>
